.modal {
  padding: 20px;
}
.modal h2, .modal h3 {
  margin-bottom: 20px;
}
.setting-item {
  margin-bottom: 15px;
}
textarea {
  width: 100%;
  height: 150px;
  font-family: monospace;
}
.rdf-graph {
  width: 100%;
  height: 600px;
}
.mermaid-diagram svg {
  background-color: var(--background-primary);
  fill: var(--text-normal);
}